*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h4{
    font-size: 30px;
    color: #3c3b3b;
}

h2{
    font-size: 50px;
    color: #2b2727;
}

h5{
    font-size: 15px;
}


p{
    color: grey;
    font-size: 20px;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

body{
    width: 100%;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: #e8e6e6;
    box-shadow: 0 0px 10px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    
}

#navbar li a:hover{
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: green;
}


#hero{
    background-image: url("img/back.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0 right 50%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h2{
    color: #088178;
}

#hero button{
    height: 40px;
    width: 100px;
    background-color: #088178;
    color: white;
    border: none;
    border-radius: 50px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
}

.imgg{
    height: 200px;
    width: 180px;
}


#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box{
    width: 220px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.05);
    border: 1px solid #cce7d0;
    border-radius: 10px;
}

 
#feature .feature-box:hover{
    box-shadow: 10px 10px 50px rgb(223, 212, 212);
}


#feature .feature-box img{
    width: 100%;
    margin-bottom: 10px;
}


#feature .feature-box h5{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    border-radius: 4px;
    color: white;
    background-color: #0d8b74;
    margin-top: 4px;
}

#feature .feature-box:nth-child(1){
    background-color: rgb(238, 238, 186);
}

#feature .feature-box:nth-child(2){
    background-color: rgb(235, 221, 224);
}

#feature .feature-box:nth-child(3){
    background-color:  #d3ebc6;
}

#feature .feature-box:nth-child(4){
    background-color: rgb(183, 183, 201);
}


#product1{
    text-align: center;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.pro-container{
    margin-top: 20px;
}

#product1 .pro{
    width: 23%;
    min-width: 100px;
    padding: 10px 12px;
    margin-top: 20px;
    border: 1px solid rgb(225, 220, 220);
    border-radius: 25px;
    cursor: pointer;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 20px rgb(248, 236, 236);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: grey;
    font-size: 12px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    color: #3c3b3b;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: gold;
}

#product1 .pro .des h5{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(81, 143, 81);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(224, 213, 213);
    font-weight: 500;
    color: rgb(81, 143, 81);
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: rgb(150, 45, 45);
}

#banner button:hover{
    background-color: rgb(208, 230, 208);
    color: rgb(112, 51, 51);
}


